<html>
  <head>
    <title i18n>Clean IT</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/modal.css">

    <base href="/">
  </head>


  <!-- Display the application -->
  <body>
    <ci-app i18n>Loading...</ci-app>
  </body>

  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server -->
  <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
  <% } %>

</html>