* { position:relative; }

:host {
	top:0px;
	background-color:#ABC;

	/* Needed to avoid angular dynamic behavior
	wich is to set component with display inline. */
	display:block;
}

#auth-block {
	float:right;
	height:100%;
}

.header-item {
	display:inline-block;
}