/* CI CSS RULES */
body {
  max-width: 1140px; /* Blame yerome fowr zis */
  margin:auto;
  position:relative;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}


/* ANGULAR 2 QUICKSTART CSS RULES */

/* Master Styles */
h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.games {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.games li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.games li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.games li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.games .text {
  position: relative;
  top: -3px;
}

.games .item {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

#user-details {
  position:absolute;
  bottom: 0px;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}

/* ------------- */
/* Master Styles */
/* ------------- */

h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body, input[text], button {
  color: #888;
}