<ci-header></ci-header>

<!-- If user is already connected, show the dashboard -->

<div *ngIf="MAIN_USER">
    <h1>Hello<span *ngIf="user"> {{user.name}}</span>, welcome !</h1>
    <nav>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/games" routerLinkActive="active">Games</a>
    </nav>

</div>

<!-- If it's not, show the landing page -->

<div *ngIf="!MAIN_USER">
    <!-- Show the landing page here -->
    <a routerLink="/landing" routerLinkActive="false"></a>
</div>




<router-outlet></router-outlet>

<!-- HOW TO CREATE A MODAL VIEW -->


<!--<button (click)="myModal.open()">Open modal dialog</button>

<modal #myModal title="Modal title"
        cancelButtonLabel="cancel"
        submitButtonLabel="submit"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="false"
        [closeOnEscape]="true"
        [closeOnOutsideClick]="true">

    <modal-header>
        Modal header content goes there.
    </modal-header>

    <modal-content>
        Modal body content goes there.
    </modal-content>

    <modal-footer>
        Modal footer content goes there.
    </modal-footer>

</modal>-->