* { position:relative; }

:host {
	top:0px;
	background-color:#ABC;
	padding: 10px;

	/* Needed to avoid angular dynamic behavior
	which is to set component with display inline. */
	display:block;
}

#auth-block {
	float:right;
}

.header-item {
	display:inline-block;
}