<span *ngIf="!appDataService.isLoggedIn()">
    <div>
        <input placeholder="email" #email/>
        <input placeholder="password" type="password" #password/>
        <button class="header-item" (click)="loginFailed = !appDataService.login(email.value, password.value)">Sign in</button>
    </div>

    <div id="loginFailed">
        <span *ngIf="loginFailed">Email or password invalid, try again !</span> 
    </div>

    <div>
        <a href="">Create an account</a>
    </div>
</span>

<span *ngIf="appDataService.isLoggedIn()">
    Welcome {{ appDataService.user.name }}
    <button class="header-item" (click)="appDataService.disconnect()">Log out</button>
</span>